@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

p {
    margin: 10px 0 20px;

}

.header, .main-section {
    padding-top: 0;
    background-color: blanchedalmond;
}

.fixed-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.menu-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.comments-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 440px;
}

.logo {
    padding-left: 100px;

}

.img {
    background: url('../img/python.svg') no-repeat;
    padding-left: 120px;
	height: 120px;
}

.header-menu {
    padding-top: 20px;
}

.menu {
    display: flex;
}

nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    margin-right: 55px;
}

.section-content {
    padding: 100px 100px;
    border: 1px solid black;
    font-size: 20px;
}

.news_container {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: rgb(252, 245, 245);
    border-radius: 20px;
    text-decoration: none;
}

.news_container a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.category-tab {
    margin-top: 10px;
    box-sizing: border-box;

}

.category-tab a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
    color: var(--home-color-text-primary);
}

.category-tab p {
    position: relative;
    display: inline-flex;
    font-weight: 900;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
}

.author-btn {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;
    display: inline-block;
    font-size: 16px;
}

.author-btn a {
    text-decoration: none;
    color: black;
}

.search-btn {
    width: 84px;
    padding: 8px;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
    border: none;
    background: #005FF9;
    font-size: 16px;
}

.meta_article {
    color: #777;
    margin: 5px 0 10px;
    font-size: 12px;
    display: flex;
    text-transform: uppercase;
}

.meta__item {
    margin: 10px 13px 0 0;
}

.article__title {
    font-size: 1.57em;
    margin: 0 0 10px;

}

.article__description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

.pagination {
    margin: 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.pagination a {
	margin: 20px 0 0 0;
    margin: 5px;
    border: 1px solid #d0d0d0;
	border-radius: 30px;
	text-decoration: none;
	font-size: 24px;
}

.article {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.date {
    color: #777;
    margin: 5px 0 10px;
    font-size: 14px;
    display: flex;
    text-transform: uppercase;
}

.text {
    line-height: 28px;
}

.comments-count {
    font-size: 22px;
    text-align: center;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: var(--content-offset) 0;
    min-width: 0;
    align-self: start;
    flex-direction: column;
    background-color: #f2f4fa;
    border-radius: 20px;
    margin: 10px;
}

.comment_author {
    font-weight: 600;
}

.comment_date {
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--theme-color-text-secondary);
}

.comment_text {
    margin-top: 0;

}

