@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

p {
    margin: 10px 0 20px;

}

.header, .main-section {
    padding-top: 0;
    background-color: blanchedalmond;
}

.fixed-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.menu-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.comments-container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 600px;
}

.logo {
    padding-left: 100px;

}

.img {
    background: url('../img/python.svg') no-repeat;
    padding-left: 120px;
	height: 120px;
}


.header-menu {
    padding-top: 20px;
}

.menu {
    display: flex;
}

nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    margin-right: 55px;
}

#last {
    margin-right: 0px;
}

.section-content {
    padding: 50px 100px;
    font-size: 20px;
}

.news_container {
    margin-top: 15px;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: rgb(252, 245, 245);
    border-radius: 20px;
    text-decoration: none;
}

.news_container a {
    text-decoration: none;
    color: #005BD1;
    font-weight: 700;
}

.category-tab {
    margin-top: 10px;
    box-sizing: border-box;
}

.category-tab a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
    color: var(--home-color-text-primary);
}

.category-tab p {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
    color: #005FF9;
    background-color: rgba(0, 95, 249, 0.1);
    border-radius: 8px;
}

.news-count {
    padding: 20px;
}

.article {
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.date {
    color: #777;
    margin: 5px 0 10px;
    font-size: 14px;
    display: flex;
    text-transform: uppercase;
}

.text {
    line-height: 28px;
}

.content-footer {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 12px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.like-btn {
    margin-right: 20px;
    display: flex;
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    background-color: rgb(252, 245, 245);
}

.like-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}


.likesvg {
   background: url('../img/like.svg') no-repeat;
}

.like-count {
    position: relative;
    margin-left: 5px;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
}

.comment-btn {
    margin-right: 20px;
    display: flex;
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}

.comment-icon {
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);

}

.commentsvg {
    stroke: currentColor;
}

.commentsvg {
   background: url('../img/comment-icon.svg') no-repeat;
}

.comment-count {
    position: relative;
    margin-left: 5px;
    font-weight: 500;
    color: black;
}

.pagination {
    margin: 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.pagination a {
	margin: 20px 0 0 0;
    margin: 5px;
    border: 1px solid #d0d0d0;
	border-radius: 30px;
	text-decoration: none;
	font-size: 24px;
}

.footer {
    box-sizing: border-box;
    background-color: blanchedalmond;
    padding: 5px;
    color: #aaa;
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, Helvetica;
    text-align: left;
}

.author-btn {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;
    margin-left: 100px;
    display: inline-block;
    font-size: 16px;
}

.author-btn a {
    text-decoration: none;
    color: black;
}



.meta_article {
    color: #777;
    margin: 5px 0 10px;
    font-size: 12px;
    display: flex;
    text-transform: uppercase;
}

.meta__item {
    margin: 10px 13px 0 0;
}

.btn-subscribe {
    text-decoration: none;
    background-color: #4683d9;
    color: white;
}

.article__title {
    font-size: 1.57em;
    margin: 0 0 10px;
}

.article__description {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}

.edit-tab{
    display: flex;
    margin: 20px;
    justify-content: center;
    gap: 5%;
    height: calc(-26px + 57px + 42px + -41px);
    align-items: center;

}

.edit-btn{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 900;
    background-color: #98FB98;
    border-radius: 8px;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
}

.delete-btn{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 900;
    background-color: #B22222;
    border-radius: 8px;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
}

.comments-count {
    font-size: 22px;
    text-align: center;
    margin: 20px;
}

.comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f2f4fa;
    border-radius: 20px;
    padding: 3px;
    margin: 10px;
}

.comment_author {
    font-weight: 600;
}

.comment_date {
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--theme-color-text-secondary);
}

.comment_text {
    margin-top: 0;
    margin-bottom: 10px;
}

.comment-footer {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.search-form form {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.search-form button {
    cursor: pointer;
    color: black;
    background-color: rgba(0, 95, 249, 0.1);;
    border-radius: 18px;
    padding-top: calc(77px + 66px + -143px);
    padding-right: calc(92px + -83px + 1px);
    padding-bottom: calc(-23px + -42px + -49px + 51px + 80px + -8px + -9px);
    padding-left: calc(35px + 89px + -34px + -98px + 30px + -12px);
    height: calc(-26px + 57px + 42px + -41px);
}

.edit-form {
    width: 500px;
    margin: 0 auto;
    gap: 20px;
}

.delete-form {
    width: 500px;
    margin: 0 auto;
    gap: 20px;
}