<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/defaultpro.html' %}

{% load custom_filters %}


{% block content %}
    <div class="article__meta">
        <p class="meta meta_article">
{{ news.time_in|date:'d M Y' }}
        </p>
    <p></p>
    </div>

    <h4>{{ news.article|censor }}</h4>

    <p>{{ news.text|censor }}</p>

{% if request.user.groups.get.id == 2 %}
    <ul>
        <a class="btn btn-success" href="/news/{{news.get_position}}/{{news.id}}/edit"><b>Редактировать</b></a>
        <a class="btn btn-danger" href="/news/{{news.get_position}}/{{news.id}}/delete"><b>Удалить</b></a>
    </ul>
{% endif%}
{% if request.user.username and cat_selected not in cat_subscriber  %}
    <a class="btn btn-warning" href="/news/subscribe/{{cat_selected.id}}"><b>Подписаться!</b></a>
{% endif%}
    <hr>

        <h5>{{ news.comments_post.all.count }} комментариев</h5>
{% if request.user.is_authenticated %}
        <form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}} </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
{% endfor %}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
{% endif %}

{% for c in news.comments_post.all %}
    <div class="comments_sf">
        <div class="el article"> {{ c.user }} </div>
        <div class="el date"> {{ c.time_in|date:'d M Y' }}</div>
        <div class="el text">{{ c.text }}</div>
    </div>
{% endfor %}


{% endblock content %}

