<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/defaultpro.html' %}
{% load custom_filters %}

{% load custom_tags %}

{% block content %}



      {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form class="search-form" action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <button class="search-btn" type="submit"> Найти </button>
   </form>


        <div class="category-tab">
{% get_categories as categories %}
{% for c in categories %}
{% if c == cat_selected %}
            <p>{{c.name}}</p>
{% else %}
            <a href={{c.get_absolute_url}}>{{c.name}}</a>
{% endif %}
{% endfor %}
       </div>
    <div class="news-count">
{{ news_count }}
    </div>

{% if news_list %}
{% for news in news_list %}
    <div class="news_container">
        <div><a class="el article" href="{{ news.get_absolute_url }}">{{ news.article|censor }}</a></div>
        <div class="el date">{{ news.time_in|date:'d M Y' }}</div>
        <div class="el text">{{ news.text|censor|truncatewords:40}}</div>
    {% if request.user.is_authenticated %}
        <div class="el footer">
            <button type="submit"><div class="">лайк</div></button>
            <button type="submit" class="">коммент</button>
        </div>
    {% endif %}
    </div>
{% endfor %}
{% else %}
       <h2>Статей нет!</h2>
{% endif %}
   <div class="pagination">
{# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}

       <a href="?{% url_replace page=1 %}">1</a>
   <!--    <a href="?page=1">1</a>-->
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    <!--   <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
       <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    </div>
{% endblock content %}