<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет Product -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h3>{{ news.article|censor }}</h3>
<h4>{{ news.time_in|date:'d M Y' }}</h4>
<p>{{ news.text|censor }}</p>
               {% if request.user.username and cat_selected not in cat_subscriber  %}
<li><a href="/news/subscribe/{{cat_selected.id}}"><b>Подписаться!</b></a></li>
{% endif%}</li>
               {% if is_author %}
<a href="/news/news/{{news.id}}/edit"><b>Редактировать</b></a>
<a href="/news/news/{{news.id}}/delete"><b>Удалить</b></a>
{% endif%}</li>
{% endblock content %}

