<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}
<!-- Название у нас будет posts -->
{% block title %}
News_list
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
{% if auth %}
<h3>Страница авторизованного пользователя {{request.user.username}}</h3>
<!--<div> Здесь может содержаться персональная информация для каждого пользователя </div>-->
<button> <a href="../accounts/logout/">Выйти</a> </button>
{% endif %}
{% if is_not_author and auth%}
<button> <a href="upgrade/"> Хочу стать автором!</a> </button>
{% endif %}
<h1>Все статьи</h1>
   <h3>{{ news_count|length }}</h3>
    <div class="col">
       <div class="news">
           <a href="/news" title="разделы новостей">Категории:</a> |
           {% for c in get_category %}
                <a href="?category={{c.id}}"
                {% if request.GET.category == c.id|title %}
                    class="bold"
                {% endif %}
                >{{ c.name }}</a> |
           {% endfor %}
       </div>
    </div>
    {% if request.user.username and request.GET.category %}
               <br><a href="/news/subscribe/{{request.GET.category}}"><b>Подписаться на новости раздела</b></a>
    {% endif%}
      {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <hr>
   {% if news_list %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           {% for news in news_list %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ news.article|censor }}</td>
               <td>{{ news.time_in|date:'d M Y' }}</td>
               <td>{{ news.text|censor|truncatewords:20}}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
   <!--    <a href="?page=1">1</a>-->
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    <!--   <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    <!--<a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>-->
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
       <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
         <!--  <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>-->
       {% endif %}
   {% endif %}

{% endblock content %}